In [77]:
import bs4
import requests
import re
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

def get_job_info(url):
    html = requests.get(url)
    soup = bs4.BeautifulSoup(html.text, 'html.parser')
    areas = {}
    area_divs = soup.findAll('div', {'id': 'areas'})
    area_a_tags = []

    for area in area_divs:
        area_a_tags.extend(area.findAll('a'))

    i = 0
    for area in area_a_tags:
        areas_kv = {}
        split_string = re.split('(\d+)',area.getText().strip())
        key = split_string[0]
        value = (split_string[1])
        areas_kv = { i : {key: value} }
        areas.update(areas_kv)
        i = i+1
    #plt.bar(sort_amount_of_jobs.keys(), sort_amount_of_jobs.values())
   
     #display(py_df)
 

    return areas

py_url = 'https://www.jobindex.dk/jobsoegning?q=python'
df = get_job_info(py_url)
#print(df)
df = pd.DataFrame([df])
display(df)
print(type(df))

print(df)
con_str = "mysql+mysqlconnector://root:root@db/db"
engine = create_engine(con_str)
df = df.applymap(str)
df.to_sql('py',con=engine, if_exists='append', index = False)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,{'Storkøbenhavn': '105'},{'Nordsjælland': '23'},{'Region Sjælland': '4'},{'Fyn': '6'},{'Region Nordjylland': '9'},{'Region Midtjylland': '27'},{'Sydjylland': '7'},{'Bornholm': '0'},{'Skåne': '7'},{'Grønland': '0'},{'Færøerne': '0'},{'Udlandet': '7'},{'Danmark': '155'}

<class 'pandas.core.frame.DataFrame'>
                         0                       1                         2   \
0  {'Storkøbenhavn': '105'}  {'Nordsjælland': '23'}  {'Region Sjælland': '4'}

             3                            4                             5   \
0  {'Fyn': '6'}  {'Region Nordjylland': '9'}  {'Region Midtjylland': '27'}

                    6                  7               8                  9   \
0  {'Sydjylland': '7'}  {'Bornholm': '0'}  {'Skåne': '7'}  {'Grønland': '0'}

                  10                 11                  12
0  {'Færøerne': '0'}  {'Udlandet': '7'}  {'Danmark': '155'}

In [78]:
import sqlalchemy as s_a
SQLALCHEMY_DATABASE_URL = "mysql+mysqlconnector://root:root@db/db"
engine = s_a.create_engine(SQLALCHEMY_DATABASE_URL)
connection = engine.connect()
query = 'select * from staasas'
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:]

[("{'Storkøbenhavn': '105'}", "{'Nordsjælland': '23'}", "{'Region Sjælland': '4'}", "{'Fyn': '6'}", "{'Region Nordjylland': '9'}", "{'Region Midtjylland': '27'}", "{'Sydjylland': '7'}", "{'Bornholm': '0'}", "{'Skåne': '7'}", "{'Grønland': '0'}", "{'Færøerne': '0'}", "{'Udlandet': '7'}", "{'Danmark': '155'}"),
 ("{'Storkøbenhavn': '105'}", "{'Nordsjælland': '23'}", "{'Region Sjælland': '4'}", "{'Fyn': '6'}", "{'Region Nordjylland': '9'}", "{'Region Midtjylland': '27'}", "{'Sydjylland': '7'}", "{'Bornholm': '0'}", "{'Skåne': '7'}", "{'Grønland': '0'}", "{'Færøerne': '0'}", "{'Udlandet': '7'}", "{'Danmark': '155'}")]

In [81]:
java_url = 'https://www.jobindex.dk/jobsoegning?q=java'
df = get_job_info(java_url)
#print(df)
df = pd.DataFrame([df])
display(df)
print(type(df))

#print(df)
con_str = "mysql+mysqlconnector://root:root@db/db"
engine = create_engine(con_str)
df = df.applymap(str)
df.to_sql('java',con=engine, if_exists='append', index = False)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,{'Storkøbenhavn': '60'},{'Nordsjælland': '8'},{'Region Sjælland': '4'},{'Fyn': '3'},{'Region Nordjylland': '7'},{'Region Midtjylland': '26'},{'Sydjylland': '6'},{'Bornholm': '0'},{'Skåne': '6'},{'Grønland': '0'},{'Færøerne': '0'},{'Udlandet': '5'},{'Danmark': '101'}

<class 'pandas.core.frame.DataFrame'>

In [ ]:
js_url = 'https://www.jobindex.dk/jobsoegning?q=javascript'
df = get_job_info(js_url)
#print(df)
df = pd.DataFrame([df])
display(df)
print(type(df))

#print(df)
con_str = "mysql+mysqlconnector://root:root@db/db"
engine = create_engine(con_str)
df = df.applymap(str)
df.to_sql('js',con=engine, if_exists='append', index = False)